@use "../../styles/general.scss" as *;



.input.container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
  }
  
  .container label {
    font-size: 0.75rem;
    color: $accent-primary;
    font-weight: 700;
    position: relative;
    top: 0px;
    left: -6px;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: transparent;
    width: fit-content;
  }
  
  .container input {
    padding: 11px 10px;
    font-size: 0.75rem;
    border: 2px $accent-primary solid;
    border-radius: 5px;
    background: transparent;
  }
  
  .container input:focus {
    outline: none;
  }