@use "../../styles/general.scss" as *;

#main-nav {
  color: red;
  padding: 1rem;
  background-color: $background-secondary;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  height: 4.5rem;
  top: 0;
  left: 0;

  .icon__logo {
    width: 200px;
  }
  .icon__bars {
    width: 50px;

    &:hover {
      cursor: pointer;
    }
  }
}

.sideBar {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 2rem 1rem;
  position: fixed;
  right: 0;
  top: 4.5rem;
  background-color: $background-secondary;
  transition: all 0.25s;
  transform: translateX(25vw);
  width: 25vw;

  @include lg {
    width: 25vw;
    transform: translateX(25vw);
  }

  @include md {
    width: 50vw;
    transform: translateX(50vw);
  }

  @include sm {
    width: 100vw;
    transform: translateX(100vw);
  }

  &--open {
    transform: translateX(0);  
  }

  .userName{
    margin-bottom: 3rem;
  }

  button {
    width: fit-content;

  }

  span {
    cursor: pointer;
    margin-bottom: 0.5rem;
  }

  .collapse-container {
    border-bottom: 2px solid $accent-primary;

    .collapse-header {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .button {
        font-size: 28px;
      }
    }
    margin-bottom: 1rem;
    .collapse-content {
      margin-left: 1rem;

      ul {
        margin-bottom: 1rem;
        li {
          margin-top: 1rem;
          cursor: pointer;
          text-transform: capitalize;
        }
      }
    }
  }
}
