@forward "./rwd.scss";
@forward "./colors.scss";

@use "./rwd.scss";
@use "./colors.scss";

@import "./colors.scss";

main {
  padding-top: 4.5rem;
  border: 1px solid #000;
  background: $background-primary;
}
