.addPattern {
    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:not(:first-child) {
        margin-top: 2rem;
      }
      .input.container {
        width: 200px;
      }
  
      select {
        width: 200px;
      }
    }
  }

.footer {
    display: flex;
    justify-content: end;
    margin-top: 3rem;
}
  